<h1>Hello User</h1>

<p>
 Your <%= @object.class.to_s%> has been confirm and will shefted to you shortly thank you.
</p>
<h2>Address Details</h2>
<div>
<p><strong>Address:</strong><%= @object.address%></p>
<p><strong>Phone:</strong><%= @object.mobile%></p>
</div>

<h4>Thanks for the Purches.</h4>
<h4>AgriLink Team</h4>