<h1>New alert</h1>
<h1>New alert</h1>
<h1>New alert</h1>
<h1>New alert</h1>

<p style="color: green"><%= notice %></p>

<%= @alert.alert %>

<div>
  <%= button_to "Delete", @alert, method: :delete %>
  <%= link_to "Back to alerts", alerts_path %>

</div>
