<div id="<%= dom_id live_feed %>">
  <p>
    <strong>Title:</strong>
    <%= live_feed.title %>
  </p>

  <p>
    <strong>Question body:</strong>
    <%= live_feed.question_body %>
  </p>

  <p>
    <strong>Asked by:</strong>
    <%= live_feed.asked_by %>
  </p>

</div>
