
<div class="container"></div>

<h1>Edit live feed</h1>

<%= render "form", live_feed: @live_feed %>

<br>

<div>
  <%= link_to "Show this live feed", @live_feed %> |
  <%= link_to "Back to live feeds", live_feeds_path %>
</div>
