<%
=begin%>
 <p style="color: green;position:absolute"><%= notice %></p> 
<%
=end%>
<style>
</style>



<%= stylesheet_link_tag "live_feed" %>


<div class="feed-container">
<div id="live_feeds">
  <%= render @live_feeds %>
</div>
</div>
<div class="ask_question">
<%= render "form", live_feed: @live_feed %>
</div>
